$gap: 0.1rem;
$pointSizeRem: 1rem;



.gainBgLine {
  border-radius: 0.2rem;

  height: 0.5rem;
  margin: 0 #{$gap};
}

.gainBgLines {
  align-items: center;
  justify-items: stretch;
  position: absolute;
  inset: 0;
  margin: 0 calc(-#{$pointSizeRem} / 2 - #{$gap});
}

.gainLineRoot {
  position: relative;
  margin: 0 calc(#{$pointSizeRem} / 2) ;
  height: 1rem;
}

.gainLinePoint {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #aaa;
  transform: translateX(-50%);

  width: $pointSizeRem;
  height: $pointSizeRem;
}
