.popoverDropdown[data-position="bottom"] .popoverArrow {
  clip-path: polygon(-50% 150%, -50% -50%, 150% -50%)!important;
}

.popoverDropdown[data-position="top"] .popoverArrow {
  clip-path: polygon(0% 100%, -100% 500%, 500% -100%, 100% 0%)!important;
}

.popoverDropdown, .popoverArrow {
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
