{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false, // Set to true if you're using React/TSX
      "decorators": true // Enable if you use decorators
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2021", // Target modern JavaScript version
    "baseUrl": "./", // Important for path aliases
    "paths": {
      "@gurban/kit/*": ["libs/kit/src/*"],
      "@poslah/database/*": ["database/src/*"],
      "@poslah/util/*": ["libs/util/src/*"],
      "@poslah/auth-service/*": ["apps/auth-service/src/*"],
      "@poslah/messages-service/*": ["apps/messages-service/src/*"],
      "@poslah/signing-service/*": ["apps/signing-service/src/*"]
    }
  },
  "module": {
    "type": "commonjs" // Or "es6" depending on your needs
  },
  "sourceMaps": true // Generate source maps for easier debugging
}
