@use 'sass:list';
@use 'sass:math';

@keyframes progressLineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.sampleView {
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1 0 auto;
  border: 1px solid #333;
  overflow: hidden;
  width: 100%;
  background: #fff;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    background: #2686c1;
    z-index: 1000;

    animation-name: progressLineAnimation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: var(--parabg-duration);
    animation-fill-mode: var(--parabg-fill-mode);
    animation-direction: var(--parabg-direction);
  }
}

.parabgBackgroundViewRoot {
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid #f0f;
  }
}

.parabgBackgroundView {
  border: 1px solid #0ff;

  position: absolute;
  left: 50%;
  top: 50%;


  transform-origin: center center;
  animation-duration: var(--parabg-duration);
  animation-iteration-count: infinite;

  animation-timing-function: var(--parabg-timing-function, linear);
  animation-fill-mode: var(--parabg-fill-mode, both);
  animation-direction: var(--parabg-direction, alternate-reverse);
}

.withParabg {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% * var(--parabg-scale));
    height: calc(100% * var(--parabg-scale));
    z-index: 0;

    animation-name: var(--parabg-animation-name);
    animation-timing-function: var(--parabg-timing-function, ease-in-out);
    animation-iteration-count: infinite;
    animation-duration: var(--parabg-duration, 60s);
    animation-fill-mode: var(--parabg-fill-mode, both);
    animation-direction: var(--parabg-direction, reverse);

    background: var(--parabg-background, linear-gradient(to right, #0ff, #f0f));

  }
}
