.dropBox, .topDropBox {
  position: absolute;
  height: 100%;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.dropBox {
  top: 50%;
}

.topDropBox {
  top: -50%;
}

.droppingParent {
  position: absolute;
  inset: 0.2rem;
  background: #0095FF;
  transition: all 100ms ease-in-out;
  pointer-events: none;
  border-radius: 0.5rem;
}
