name: Publish to NPM

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write  # REQUIRED for Trusted Publishing

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'
          # We keep this line so setup-node knows we are talking to npmjs

      - name: Install dependencies
        run: yarn install --immutable

      - name: Fix PnP Resolution (Unplug packages)
        run: |
          yarn unplug p-limit
          yarn unplug yocto-queue

      - name: Debug
        run: yarn mirr --help

      - name: Build
        run: yarn build

      - name: Publish to NPM
        run: npm publish --provenance --access public
        # 1. No NODE_AUTH_TOKEN needed anymore!
        # 2. --provenance is added: This links the package on NPM back to
        #    this exact GitHub run (so users can verify the code source).
